
<html>
    <head>

        <script>
            function selectElement(e) {
                var targ;
                if (!e) {
                    var e = window.event;
                }
                if (e.target) {
                    targ = e.target;
                } else if (e.srcElement) {
                    targ = e.srcElement;
                }
                var tname;
                tname = targ.name;
                window.location = 'moviepage?id=' + tname;
            }


        </script>

        <style>
            img {
                width: 300px;
                height: 500px;
            }

            img:hover{
                cursor: pointer;
            }
        </style>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <title>Főoldal - Nézünk, mint a moziban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div id="menu">
            <table align="center">
                <tr id="menuRow">
                    <td><a href="/mainpage">Főoldal</a></td>

                    <td>
                        <form th:action="@{/mainpage}" th:object="${searchByMovieCategoryFormData}" method="GET">
                        <table>
                            <tr>
                                <td>
                                    Szűrés:<select th:field="*{movCategory}" id="movCategory" style="width: 100px">
                                <option th:value="''" th:text="''"></option>                                
                                <option th:each="movieCategory: ${movieCategories}" th:text="${movieCategory.category.hungarianName}" th:value="${movieCategory.category}" />
                            </select>
                                </td>
                                <td>
                                    <input type="submit" value="Szűrés" />
                                </td>
                            </tr>
                        </table>                           
                        </form>
                    </td>



                    <td>
                        <form th:action="@{/mainpage}" th:object="${searchFormData}" method="GET">
                            <table>
                                <tr>
                                    <td>
                                        Keresés: <input type="text" id="searchField" th:field="*{searchValue}" />
                                    </td>
                                    <td>
                                        <input type="submit" value="Keresés" />
                                    </td>
                                </tr>
                            </table>                           
                        </form>
                    </td>

                    <td th:if="${userId}==null">
                        <form th:action="@{/login}" th:object="${loginFormData}" method="POST">
                            <table>
                                <tr>
                                    <td>Email: <input type="email" id="email" th:field="*{email}" /></td>
                                    <td>Jelszó: <input type="password" id="password"  th:field="*{password}" /></td>
                                    <td><input type="submit" value="Bejelentkezés" /></td>
                                <p th:errors="*{email}"></p>
                                <p th:errors="*{password}"></p>
                                </tr>
                            </table>
                        </form>
                    </td>

                    <td th:if="${userId}==null"><a href="/registration">Regisztráció</a></td>
                    <td th:unless="${userId}==null" th:text="'Be vagy jelentkezve, mint ' + ${currentUserEmail} + '.'" />
                    <td th:if="${currentUserAdminRight}"><a href="/adminpage">Admin felület</a></td>
                    <td th:unless="${userId}==null"><a href="/mainpage/logout">Kijelentkezés</a></td>

                </tr>
                <tr>

                </tr>
            </table>
        </div>

        <table align="center">

            <tbody>
                <tr th:if="${movielist.empty}">
                    <td colspan="2"> A megadott paraméterekkel nem található film. </td>
                </tr>

                <tr>
                    <td>
                        <th:block th:each="movie, row : ${movielist}">
                            <!-- TODO: move style to a CSS file -->
                            <table style="display: inline-block; width: 300px">
                                <tr>
                                    <td><img th:src="@{${movie.imageLink}}" th:name="${movie.id}" onclick="selectElement(event)"/></td>
                                </tr>
                                <tr>
                                    <td><a th:href="@{'/moviepage?id=' + ${movie.id}}" th:text="${movie.title}" align='center' /></td>
                                </tr>
                            </table>
                            <br th:if="${row.index} % 3 == 2"/>
                        </th:block>
                    </td>
                </tr>

            </tbody>
        </table>
    </body>
</html>
