<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <title>Search</title>
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                    
              <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
             
                
                </head>
                <style type="text/css">
                    
                    body{
/*                background-color: rgb(4, 27, 26);*/
                font-family: 'Raleway',sans-serif; 
                font-size: 24px;
                font-weight: 500; 
/*                line-height: 32px; 
                margin: 0 0 24px;*/
                text-align: center;
                color: #ff9933;
            }
                    #holder{    
                       height:800px;   
                        width:700px;

                        background-color: rgb(4, 27, 26);
                        background-repeat: no-repeat;
                        background-size: cover;
                                  
                        border:1px solid #A4A4A4;
                        margin-left: auto;
                        margin-right: auto;
                        

                    }
                    #place {
                        position: relative;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 150px;
                        
                        
                    }
                    #place a{
                        font-size:0.9em;
                    }
                    #place li
                    {
                        list-style: none outside none;
                        position: absolute;   
                    }

                    .center {
                        display: block;
                        position: relative;
                        margin-left: auto;
                        margin-right: auto;
                        width: 40%;
                    }



                    #place .seat{
                        background:url("available.gif") no-repeat scroll 0 0 transparent;
                        height:100px;
                        width:100px;
                        display:block;
                        background-size: 30%;

                    }


                    #place .selectedSeat
                    { 
                        background-image:url("booked.gif");
                        background-size: 30%;  
                        
                    }
                    #place .selectingSeat
                    { 
                        background-image:url("selected.gif"); 
                        background-size: 30%;       
                    }
                    #place .unavilableSeat
                    {
                        background-image:url("unavailable.gif"); 
                        background-size: 30%;
                    }

                    #place .row-0 , #place .row-1, #place .row-2, #place .row-3, #place .row-4{
                        margin-top:-20px;

                    }


                    #seatDescription{
                        padding:0px;
                    }
                    #seatDescription li{
                        verticle-align:middle;      
                        list-style: none outside none;
                        padding-left:35px;
                        height:35px;
                        float:left;
                    }
                    #order_place{
                        position: relative;

                    }
                    .sitting{
                        position: relative;
                        color:#777;
                        display: inline-block;
                    }
                    
                    #click {
                        background-color: red;
                        float: right;
                        margin-right: 70px;
                        margin-left: 70px;
                        font-size: 30px;
                        color: white; 
                        border: 2px solid #f44336;
                        border-radius: 15px;
                        padding: 10px;
}

                        #click:hover {
                        background-color: #f44336;
                        color: green;
                        }

                   
                </style>
                <body>
                    
<tr>  <td><span th:text="${screening.movie}"> Title </span></td></tr><br/>
                     <tr>   <td><span th:text="${screening.room}"> Title </span></td></tr><br/>
                     <tr>   <td><span th:text="${#temporals.format(screening.time , 'yyyy-MM-dd HH:mm')}"</span></td> </tr><br/>
<!--                        <td><span th:text="${screening.time}"> Title </span></td>-->
<br/>

 <button id="click" class="btn btn-danger" style="float: right">Foglalok</button>
<br/> <br/>
<img  src="/screen.jpg" class="center"/>


                    <div id="holder" class="center"> 
                        <ul  id="place" class="center">
                        </ul> 
                        
                        

                    </div>
                    <div id="order_place" class="center"></div>
                    
                   
                    

                    <script type="text/javascript" th:inline="javascript">
                        var numberColumn = [[${numberColumn
                        }
                        ]];
                                var numberRow = [[${numberRow
                                }
                                ]];
                                var numbersColumnOfChair = [[${numbersColumnOfChair
                                }
                                ]];
                                var numbersRowOfChair = [[${numbersRowOfChair
                                }
                                ]];

                        $(function () {
                            var settings = {
                                reservedSeat: 2,
                                unavilableSeat: 3,

                                rowCssPrefix: 'row-',
                                colCssPrefix: 'col-',
                                seatWidth: 35,
                                seatHeight: 35,
                                seatCss: 'seat',
                                selectedSeatCss: 'selectedSeat',
                                selectingSeatCss: 'selectingSeat',
                                unavaliableSeatCss: 'unavilableSeat'
                            };


                            var init = function (Seat) {
                                var str = [], seatNo, className;
                                var rows = Seat.length;
                                var cols = Seat[0].length;
                                for (i = 0; i < rows; i++) {
                                    for (j = 0; j < cols; j++) {
                                        seatNo = (i * cols + j + 1);
                                        className = settings.seatCss + ' ' + settings.rowCssPrefix + i.toString() + ' ' + settings.colCssPrefix + j.toString();

                                        if (Seat[i][j] == settings.reservedSeat) {
                                            className += ' ' + settings.selectedSeatCss;
                                            //console.log(inArray(seatNo, reservedSeat));
                                        } else if (Seat[i][j] == settings.unavilableSeat) {
                                            className += ' ' + settings.unavaliableSeatCss;
                                            //console.log(settings.unavaliableSeatCss);
                                        }
                                        str.push('<li title="' + seatNo + '" class="' + className + '"' +
                                                'style="top:' + (i * settings.seatHeight).toString() + 'px;left:' + (j * settings.seatWidth).toString() + 'px" href="' + i, '-', j + '">' +
                                                '<a title="' + seatNo + '">' + '</a>' +
                                                '</li>');

                                    }
                                }
                                $('#place').html(str.join(''));
                            };
                            //case I: Show from starting
                            //init();
                            //Case II: If already booked


                            var Seats = [];

                            for (var i = 0, max = numberRow; i < max; i++) {
                                Seats.push([]);

                            }

                            Seats[0][numberColumn - 1] = 0;

                            for (var i = 0, max = numbersColumnOfChair.length; i < max; i++) {
                                var column = numbersRowOfChair[i] - 1;
                                var row = numbersColumnOfChair[i] - 1;
                                Seats[column][row] = 2;

                            }







                            init(Seats);
                            var clickNum = 0;
                            $('.' + settings.seatCss).on('click', function () {

                                if ($(this).hasClass(settings.selectedSeatCss)) {

                                    alert('Ez a szék már foglalt');
                                } else if ($(this).hasClass(settings.unavaliableSeatCss))
                                {
                                    alert('Elnézést kérünk. Jelenleg ez a szék nem választható');

                                } else
                                {
                                    if ($(this).hasClass(settings.selectingSeatCss))
                                    {
                                        $(this).removeClass(settings.selectingSeatCss);
                                        var SeatNo = $(this).closest("li").attr("title");
                                        console.log($('li.selectingSeat').each(function ()
                                        {
                                            $(this).attr("href")
                                        }));
                                        $(".sitting:last").remove();


                                    } else
                                    {
                                        $(this).addClass(settings.selectingSeatCss);
                                        var link = $(this).attr('href');
                                        link = link + "";

                                        var SeatNo = $(this).closest("li").attr("title");
                                        // console.log(traverse.closest("a"));
                                        //var SeatNo=$(this).closest("a").attr("title");
//                                        $('<div class="sitting" title="' + SeatNo + '">SeatNoasd:>' + SeatNo + '</div>').appendTo('#order_place');


                                    }
                                }

                            });
                            $("#click").click(function () {
                            var realvalues = [];
                                    $('li.selectingSeat').each(function (i) {
                            realvalues[i] = $(this).attr("href");
                            });
                                    if (realvalues.length == 0){
                            alert("Kérlek válassz ki legalább egy széket!")

                            } else{
                            window.location = 'ticketpage?id=' + + [[${screening.id}
                            ]] + "," + realvalues;
                            }

                            }
                            );



                        });

                    </script>
                </body>
                </html>